# Dependencies
node_modules
pnpm-lock.yaml

# Production
dist
build

# Misc
.DS_Store
*.log
coverage

# Version control
.git
.gitignore

# IDE
.vscode
.idea

# Config files (optional - remove if you want to format these)
*.config.js
*.config.ts
